/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

/*************************************************/

#container {
	display: grid;
	width: 89, 5%;
	margin: 20px auto;
	grid-template-columns: repeat(12, 1fr);
	row-gap: 20px;
	column-gap: 2%;
}

header,
section,
aside,
main {
	border: solid 1px black;
	margin-bottom: 20px;
	min-height: 150px;
}

header {
	grid-column-start: 1;
	grid-column-end: 13;
}

#Box1 {
	grid-column-start: 1;
	grid-column-end: 3;
}

#Box2 {
	grid-column-start: 3;
	grid-column-end: 11;
}

#Box3 {
	grid-column-start: 11;
	grid-column-end: 13;
}

aside {
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 3;
	grid-row-end: 5;

}

main {
	grid-column-start: 1;
	grid-column-end: 10;
	grid-row-start: 3;
	grid-row-end: 5;
}

footer {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	border: solid 1px black;

	#Footersection1 {

		grid-column-start: 1;
		grid-column-end: 4;
		margin-right: 20px;
		margin-left: 10px;

	}

	#Footersection2 {

		grid-column-start: 4;
		grid-column-end: 7;
		margin-right: 20px;

	}

	#Footersection3 {

		grid-column-start: 7;
		grid-column-end: 10;
		margin-right: 20px;

	}

	#Footersection4 {

		grid-column-start: 10;
		grid-column-end: 13;
		margin-right: 10px;

	}

}

/*Stor skärm*/

@media (Max-width: 1300px) {
	#container {
		width: 90%;
	}
}

/*Liten skärm*/

@media (Max-width: 1200px) {
	#container {
		width: 90%;
	}

	aside {
		grid-column-start: 9;
		grid-column-end: 13;

	}

	main {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	#Box1 {
		grid-column-start: 1;
		grid-column-end: 4;

	}

	#Box2 {
		grid-column-start: 4;
		grid-column-end: 10;

	}

	#Box3 {
		grid-column-start: 10;
		grid-column-end: 13;

	}
}

/*Tablet*/

@media (Max-width: 960px) {
	#container {
		width: 90%;
	}

	aside {
		grid-column-start: 7;
		grid-column-end: 13;

	}

	main {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	#Box1 {
		grid-column-start: 1;
		grid-column-end: 5;

	}

	#Box2 {
		grid-column-start: 5;
		grid-column-end: 9;
	}

	#Box3 {
		grid-column-start: 9;
		grid-column-end: 13;
	}

	footer {
		display: grid;


		#Footersection1 {
			grid-column-start: 1;
			grid-column-end: 7;


		}

		#Footersection2 {
			grid-column-start: 7;
			grid-column-end: 13;
			margin-right: 10px;

		}

		#Footersection3 {
			grid-column-start: 1;
			grid-column-end: 7;
			margin-left: 10px;

		}

		#Footersection4 {
			grid-column-start: 7;
			grid-column-end: 13;

		}
	}

}

/*Mobil*/

@media (Max-width: 768px) {
	#container {
		width: 90%;
	}

	header,
	#Box1,
	#Box2,
	#Box3,
	aside,
	main {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 13;
	}

	main {
		grid-row-start: 5;
		grid-row-end: 6;
	}

	aside {
		grid-row-start: 6;
		grid-row-end: 7;
	}

	footer {

		#Footersection1 {
			grid-column-start: 1;
			grid-column-end: 13;
			grid-row-start: 7;
			grid-row-end: 8;
			margin-right: 10px;
		}

		#Footersection2 {
			grid-column-start: 1;
			grid-column-end: 13;
			grid-row-start: 8;
			grid-row-end: 9;
			margin-left: 10px;
		}

		#Footersection3 {
			grid-column-start: 1;
			grid-column-end: 13;
			grid-row-start: 9;
			grid-row-end: 10;
			margin-right: 10px;
		}

		#Footersection4 {
			grid-column-start: 1;
			grid-column-end: 13;
			grid-row-start: 10;
			grid-row-end: 11;
			margin-left: 10px;
		}
	}

}

/*Styling with Flexbox*/

/* Big desktop + small desktop + tablet + mobile */


header {
	background-color: beige;
	height: 100px;
	display: flex;
}

button {
	background-color: white;
	margin-top: 60px;
	margin-left: 20px;
	height: 20px;
	margin-right: 20px;
	
}

#button4 {
	margin-left: auto;
}

aside {
	display: flex;
	flex-direction: column;
	background-color: beige;

	#sidebutton1,
	#sidebutton2,
	#sidebutton3,
	#sidebutton4 {
		margin: 10px;
	}
}


main {
	background-color: beige;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#contentsection1 {
	margin: 10px;
	width: 240px;
	flex-grow: 1;
}

#contentsection2 {
	margin: 10px;
	width: 240px;
	flex-grow: 1;
}

#contentsection3 {
	margin: 10px;
	width: 240px;
	flex-grow: 1;
}

#contentsection4 {
	margin: 10px;
	width: 240px;
	flex-grow: 1;
}

#contentsection5 {
	margin: 10px;
	width: 240px;
	flex-grow: 1;
}

#contentsection6 {
	margin: 10px;
	width: 240px;
	flex-grow: 1;
}


